@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, #112918 0%, #000000 120%);
}

canvas {
    touch-action: none;
}